@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-netflix {
  background-image: url("./assets/netflixbg.jpg");
}

.bg-second {
  background-image: url("./assets/games-lg.png");
  background-repeat: no-repeat;
  background-position: right top;
}
